.nav__wrapper{
    position: fixed;
    top: 20px;
    padding: 0% 4%;
    z-index: 9;
    transition-timing-function: ease-in;
    transition: all 1s;
    
}
.nav__wrapper--bg{
    position: fixed;
    padding: 0% 4%;
    z-index: 9;
    background-color: rgba(20, 20, 20, 0.5);
    opacity: 1;
    height: 50px;
    width: 100%;
    transition-timing-function: ease-in;
    transition: all 1s;
}

.nav__logo{
    position: fixed;
    top: 20px;
    left: 20px;
    height: 1.25rem;
    object-fit: contain;
}
.nav__avatar{
    height: 2rem;
    object-fit: contain;
    position: fixed;
    top: 10px;
    right:20px
}